<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Uploadasaur.us - Upload and send your file to anyone, for free!</title>
		<%= stylesheet_link_tag 'swfupload'%>
		<%= stylesheet_link_tag 'style' %>
		<%= javascript_include_tag :defaults %>
		
		<%= javascript_include_tag 'swfupload' %>
		<%= javascript_include_tag 'swfupload_plugin'%>
		<%= javascript_include_tag 'swfupload.swfobject'%>
		<%= javascript_include_tag 'swfupload.queue'%>
		<%= javascript_include_tag 'handlers' %>
		<%= javascript_include_tag 'fileprogress' %>
		
		<script type='text/javascript'>
		
		function clearSaveText(elem_id) {
			saveText = document.getElementById('save_text_' + elem_id);
			saveText.innerHTML="";
			
			
		}
		
		function changeTitle(elem_id) {
			titleStr = document.getElementById('title_' + elem_id).value
			
			new Ajax.Updater("save_text_" + elem_id, '/uploads/change_title?title=' + titleStr + '&id=' + elem_id, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')}); return false;
				
			
		}
		
		function saveTitle(file) {
			
			titleStr = document.getElementById("SWFUpload_0_" + file.index + "_title").value; //document.forms[0].elements["title"].value;
			new Ajax.Updater("SWFUpload_0_" + file.index + "_progressElement", '/uploads/save_title?title=' + titleStr + " + &filesize=" + file.size + "&filename=" + file.name + "&fileprogress_id=" + file.index, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')}); return false;
			
			//top.frames['saveTitleFrame'].document.location.href = "/uploads/save_title?title=" + titleStr + " + &filesize=" + file.size + "&filename=" + file.name + "&fileprogress_id=" + file.index; 	
			
		}	
		

			  var swfu;
		
			
				window.onload = function() {
					var settings = {
						flash_url : "/flash/swfupload.swf",
						upload_url: "/uploads/create?_uploadasaurus_session=<%= CGI::escape(session.session_id) %>&authenticity_token=<%= form_authenticity_token %>",
						post_params: {"PHPSESSID" : ""},
						file_size_limit : "100 MB",
						file_types : "*.*",
						file_types_description : "All Files",
						file_upload_limit : 100,
						file_queue_limit : 0,
						custom_settings : {
							progressTarget : "fsUploadProgress",
							cancelButtonId : "btnCancel"
						},
						debug: false,

						// Button settings
						button_width: "142",
						button_height: "60",
						button_padding_top: "100px",
						button_image_url: "../images/uploadbutton.png",
						button_placeholder_id: "spanButtonPlaceHolder",

						// The event handler functions are defined in handlers.js
						file_queued_handler : fileQueued,
						file_queue_error_handler : fileQueueError,
						file_dialog_complete_handler : fileDialogComplete,
						upload_start_handler : uploadStart,
						upload_progress_handler : uploadProgress,
						upload_error_handler : uploadError,
						upload_success_handler : uploadSuccess,
						upload_complete_handler : uploadComplete,
						queue_complete_handler : queueComplete	// Queue plugin event
						
					};

					
					swfu = new SWFUpload(settings);
			     };
		

		</script>
		
		
	</head>
	<body> 


		<div id="page"> 
			<div id="textblock"> 
				<div id="logo"><img alt="Uploadasaur.us" title="Uploadasaur.us" src="/images/logo.png" /></div> 
				

				<% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
				<% if flash[:warning] %><div id="warning"><%= flash[:warning] %></div><% end %>
	<div id="main">
					<%= yield :layout %>
			
					</div>
				
				<div class="call-to-action"> 
					<h1>Choose file.</h1> 
					<h1>Get link.</h1>
					<h1>Share.</h1> 
				</div>
			

			</div>
		<!-- 
			Include your js at the bottom for faster 
			loading. Thanks YSlow!
		-->
	
	  
	</body>
</html>